.botao-margem {
  margin: 10px;
}

.botao-cor {
  background-color: rgba(15, 233, 193, 0.755);
}

.botao-cor:hover {
  background-color: rgb(96, 9, 236);
  color: lightgrey;
}

.span-erro {
  color: red;
  font-size: smaller;
  font-weight: bold;
  display: none;
}
/* https://abeso.org.br/obesidade-e-sindrome-metabolica/calculadora-imc/ */
#imgResultado {
  width: 15%;
  display: block;
}
.fieldset {
  background-color: lightblue;
}
